html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#262b35, #036903);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #2cdd35;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #2cdd35;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #2cdd35;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2cdd35,
              0 0 25px #2cdd35,
              0 0 50px #2cdd35,
              0 0 100px #2cdd35;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2cdd35);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2cdd35);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2cdd35);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2cdd35);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

#body-main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
#chat-input {
  display: flex;
  flex-direction: column;  
  width: 700px;
    height: 400px;
    position: absolute;
    left: 860px;
    top: 450px;
    border-color: black;
    border-width: 4px;
    border-radius: 5%;
    background-color: #6d788d;
    flex-wrap: wrap;
    overflow-wrap: normal;
    resize: vertical;
    text-decoration-color: white;
    align-items: initial;
    padding-left:0;
padding-top:0;
padding-bottom:0.4em;
padding-right: 0.4em;
}

.chat-box {
    display: flex;
    /* min-height: 1000px;
    min-width: 800px; */

}

#btn-submit {
    position: absolute;
    top: 950px;
    left: 1200px;
      height: 20px;
      width: 150px;
      text-decoration-color: white;
      text-emphasis-color: white;
}

.user-box {
    border-color: black;
    /* height: 400px;
    width: 300px; */
}

#message-box {
    position: absolute;
    top: 20px;
    left: 870px;
      height: 400px;
      width: 700px;
      border-color: black;
      border-width: 4px;
      border-radius: 5%;
      background-color: #262b35;
}