{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated != True %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
<p><a href="{% url 'login' %}">log in</a></p>
{% else %}



<body>
  <header id="body-header">
    <nav id="header-navbar">
​
    </nav>
  </header>
  <main id="body-main">
      <div class='chat-box user-box' id='message-box'>
        <h2></h2>
        <p>         </p>
      </div>
      <form action="">
      <div class=chat-box id='input-box'>
​
          <!-- <input id='chat-input' type="text" > -->
          <!-- Customer Name:  <input type="text" Placeholder="Enter the Customer Name"/>   -->
<br>  
<br>  
<select name="Names" size="10" id='input-selection'>  
    <option value="Tyrian Lannister"> Tyrian Lannister </option>  
    <option value="Jon Snow"> Jon Snow </option>  
    <option value="Jorah Mormont"> Jorah Mormont </option>  
​
</select>  
​
          <button class='login-box' id='btn-submit'>Submit</button>
      </div>
    </form>
  </main>
  <footer id="body-footer">
    <nav id="footer-navbar">
​
    </nav>
​
  </footer>
</body>
{% endif %}
{% endblock %}
